body{
    margin: 0;
    padding: 0;
    background-color: #373737;
}

header.heading{
    background-image:url("Images/action\ shot.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 48%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

header.heading div{
    color: gold;
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #373737;
}


section.schedule{
    height: 800px;
    width: 100%;
    top: -50px;
    display: inline-block;
    background-color: rgb(56, 56, 56);
}
section.schedule div{
    height: 600px;
    width: 80%;
    background-color: rgba(245, 245, 245, 0.945);
    position: relative;
    top: 100px;
    left: 115px;
}
section.schedule div p{
    color: gold;
    text-align: center;
    position: relative;
    font-size: 50px;
    top: -80px;
}