body{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top, black, #373737);
}

header.heading{
    background-image:url("Images/action\ shot.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 48%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

header.heading div{
    color: gold;
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #373737;
}

section.about div{
    height: 0;
    padding-bottom: 15%;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    background-image: linear-gradient(to top left, #CDCDCD, #F2F2F2);
    position: relative;
    top: 5vw;
    border-style: outset;
}
section.about div p{
    color: gold;
    text-align: center;
    position: relative;
    font-size: 3vw;
    top: -7vw;
}

section.schedule div{
    height: 0;
    padding-bottom: 40%;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    background-image: linear-gradient(to top left, #CDCDCD, #F2F2F2);
    position: relative;
    top: 20vw;
    border-style: outset;
}
section.schedule div p{
    color: gold;
    text-align: center;
    position: relative;
    font-size: 3vw;
    top: -7vw;
}